@use 'var' as *;

.order{

    @include flexible (flex, column, nowrap, center, center);

    aside:nth-child(1){
        width: 100%;
        height: 30vh;
        background-color: #9999;
    }

    aside:nth-child(2){
        width: 100%;
        height: 30vh;
        background: rgb(192,218,56);
        background: linear-gradient(180deg, rgba(192,218,56,1) 0%, rgba(116,204,82,1) 100%);
    }
}