@use 'var' as *;

.order{
    @include flexible (flex, column, nowrap, center, center);

    aside:nth-child(1){
        @include flexible (flex, column, nowrap, center, center);
        width: 100%;
        height: 50vh;
        background-color: #9999;
    }

    aside:nth-child(2){
        @include flexible (flex, column, nowrap, flex-start, center);
        @include text ('title-bold', 2rem, bold, white);
        text-align: center;
        width: 100%;
        height: 50vh;
        min-height: 460px;
        background: rgb(192,218,56);
        background: linear-gradient(160deg, rgba(192,218,56,1) 0%, rgba(116,204,82,1) 100%);

        h2{
            margin-top: 0.5rem;
            padding: 1rem;
        }

        // ARTICLES
        article{
            @include flexible (flex, row, nowrap, flex-start, center);
            width: 80vw;
            background-color: white;
        }

        article:nth-of-type(1){
            border-radius: 0.3rem 0.3rem 0 0;
            input{
                border-radius: 0.3rem;
            }
        }

        article:nth-of-type(2){
            border-radius: 0 0 0.3rem 0.3rem;
            input{
                border-radius: 0.3rem;
            }
        }

        img{
            width: 1.5rem;
            margin: 0 1rem 0 1rem;
            filter: invert(71%) sepia(45%) saturate(6529%) hue-rotate(333deg) brightness(103%) contrast(96%);
        }

        input{
            font-size: 1rem;
            height: 4rem;
            width: 100%;
            border: none;
        }

        hr{
            color: #d0d0d099;
            width: 70%;
            max-width: 500px;
        }
    }

    div{
        @include flexible (flex, row, nowrap, flex-start, center);
        button{
            margin-top: 1.5rem;
            @include button (10rem, 'title-bold', 1rem, white, $buttonColor, 0.3rem, 1rem);
        }
    }
}

@media (min-width: 918px){
    .order {
        width: 100%;
        flex-direction: row;

        aside:nth-child(1){
            width: 50%;
            height: 75vh;
        }

        aside:nth-child(2){
            width: 50%;
            height: 75vh;
            padding-left: 5rem;
            min-height: unset;
            justify-content: center;
            align-items: self-start;
            gap: 2rem;

            h2{
                width: 60%;
                text-align: left;
                font-size: 2rem;
                padding: 0;
                margin-left: 2rem;
            }

            form{
                margin-left: 2rem;
                width: 100%;
            }

            article{
                width: 70%;
                max-width: 500px;
            }
        }
    }
}