@use 'var' as *;

.work{

    width: 100%;
    padding: 2rem;
    min-height: 40vh;

    @include flexible (flex, column, nowrap, flex-start, space-between);
    gap: 5rem;

    h2{
        width: 100%;
        @include text ('title-bold', 2rem, bold, $titleColor);
        text-align: center;
    }
}


.work-grid{

    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    @include grid (grid, 1fr, 10rem, center, center);

    h3{
        @include text ('Lato', 1.7rem, 300, black);
        overflow-x: hidden;
    }
    
    h3 strong{
        @include text ('title', 1.7rem, bold, black);
        margin-left: 0.77rem;
    }

    article{
        width: 100%;
        margin: 0 auto;
        max-width: 276px;
        @include flexible (flex, row, nowrap, center, center);
        

        p{
            @include text ('Lato', 1rem, 300, $greyedText);
            margin-top: 1rem;
        }

        img {
            width: 5rem;
            margin-right: 2rem;
        }

    }

}

@media (min-width: 950px) {
    .work-grid{
        @include flexible (flex, row, nowrap, center, center);
        gap: 2rem;
    }
}