@use 'var' as *;
@use 'header' as *;
@use 'headerDesktop' as *;
@use 'order' as *;
@use 'work' as *;
@use 'dishes' as *;
@use 'perk' as *;
@use 'restaurant' as *;
@use 'banner' as *;
@use 'featured' as *;
@use 'footer' as *;

body{
	max-width: 100%;
	overflow-x: hidden;
}

*{
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;

	button{
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}

	a{
		color: inherit;
		cursor: pointer;
		text-decoration: none;
	}

	
}

ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}
ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}